.probe/*
!.probe/probe-settings.json
saves/*
xaero/*
resourcepacks/*
local/*
modernfix/*
instance.json
patchouli_data.json
patchouli_books/*
logs/*
lightspeed-cache/*
.vscode/*
schematics/*
options.txt
.probe/probe-settings.json
config/xaerominimap_entities.json
usercache.json
config/xaerominimap_entities.json
usernamecache.json
config/xaerominimap_entities.json
config/oculus.properties
mods.rar
Side project v2 1.16.5.zip
config/oculus.properties
config/bosstools-performance-client.toml
config/xaerominimap_entities.json
config/jei/bookmarks.ini
